<footer>
    <small>&#169; ProximaX Nodes 2020</small>
    <ul>
        <li>
            <a href="http://t.me/ProximaXio" target="_blank">
                <i class="fab fa-telegram-plane"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/ProximaXio" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/proximax-storage" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/proximaxio/" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href="https://www.reddit.com/r/ProximaXOfficial/" target="_blank">
                <i class="fab fa-reddit-alien"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/ProximaXio/" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li>
            <a href="https://medium.com/@proximaxio" target="_blank">
                <i class="fab fa-medium-m"></i>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCky9HP0VlqsnGQWrbMPFVnw" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/proximaxio" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://blockfolio.com/coin/XPX" target="_blank">
                <i class="fab fa-bootstrap"></i>
            </a>
        </li>
    </ul>
</footer>