.wrapper {
    display       : flex;
    flex-direction: column;
    min-height    : 100vh;
}

/* variables */
:root {
    --main-white-color : white;
    --main-purple-color: #9e89b8;
}

.page-main {
    display              : flex;
    flex-direction       : column;
    flex-grow            : 1;
    justify-content      : center;
    min-height           : 350px;
    background           : var(--main-purple-color) no-repeat center / cover;
    background-blend-mode: luminosity;
    color                : var(--main-white-color);
    position             : relative;
}

.page-main div {
    max-width: 500px;
}

.client-time-container {
    position: absolute;
    bottom  : 24px;
    right   : 24px;
    z-index : 1;
}

.client-time-container>* {
    color      : #FFF;
    font-size  : 24px;
    font-weight: 300;
}